{{ define "main" }}

{{ .Content }}

{{/* Intro summary section */}}

{{ if or .Site.Params.homeIntroTitle .Site.Params.homeIntroContent }}
<div class="intro">
    {{ with .Site.Params.homeIntroTitle }}
    <h1>{{ . }}</h1>
    {{ end }}

    {{ with .Site.Params.homeIntroContent }}
    <p>{{ . | markdownify }}</p>
    {{ end }}
</div>
{{ end }}

{{/* Social Icons */}}

{{ with site.Params.social }}
<div class="social-icons">
    {{- range . }}
    <a href="{{ trim .url " " | safeURL }}" target="_blank" rel="noopener noreferrer me"
        title="{{ (.title | default .name) | title }}">
        {{ partial "svg.html" . }}
    </a>
    {{- end }}
    <a href="https://kagi.com/smallweb" target="_blank" rel="noopener noreferrer" title="Kagi smallweb"
        style="display: inline-flex; align-items: center; justify-content: center;">
        <img src="https://camo.githubusercontent.com/05046a28621d58344a06ba01b0c99bd44538f39c5a01e4e3b769f57de2f3f61c/68747470733a2f2f6b616769666565646261636b2e6f72672f6173736574732f66696c65732f323032352d31312d32372f313736343235303937332d3730383336392d38387833312d322e676966"
            alt="Kagi smallweb badge" style="height: 24px; margin-left: 8px; border-radius: 4px;" loading="lazy" />
    </a>
</div>
{{ end }}

<h1>Hi.</h1>
<p>
    Please follow the links above to navigate.
</p>

<div class="hacker-quotes">
    <div class="hacker-body">
        <blockquote class="hacker-quote">
            <p>
                "I’d rather have questions that can’t be answered than answers that can’t be questioned.[...]<br />
                The prize is the pleasure of finding the thing out, the kick in the discovery, the observation that
                other
                people use
                it.<br />
                Those are the real things."
            </p>
            <i>
                <b>
                    <p>Richard Feynman</p>
                </b>
            </i>
        </blockquote>
    </div>

    <div class="hacker-body">
        <blockquote class="hacker-quote">
            <p>
                "Here's to the crazy ones. The misfits. The rebels. The troublemakers. The round pegs in the square
                holes.
                The ones who see things differently. They're not fond of rules. And they have no respect for the status
                quo.
                You can quote them, disagree with them, glorify or vilify them. About the only thing you can't do is
                ignore
                them. Because they change things. They push the human race forward. And while some may see them as the
                crazy
                ones, we see genius. Because the people who are crazy enough to think they can change the world, are the
                ones who do."
            </p>
            <i>
                <b>
                    <p>Steve Jobs</p>
                </b>
            </i>
        </blockquote>
    </div>
</div>


{{ end }}
