{{ partial "header.html" . }}

<div id="post-index" class="container" itemscope="" itemtype="https://schema.org/Blog">
    {{ partial "intro.html" . }}

    <div id="content-description">
        <h2>Hi!</h2>
        <p>
            I am <em>Antonin Carette</em>, machine learning engineer at <a href="https://www.tadaweb.com">Tadaweb</a>.
        </p>
        <p>I am interested in: (i) <em>artificial intelligence</em> (machine learning & multi-agents systems), (ii)
            <em>video games engines</em>, and (iii) <em>operating systems</em>.
        </p>

        <p>You can find my resume <a href="/CARETTE_EN_cv.pdf">in English</a>.</p>

        <h3>Some interesting links</h3>
        <ul>
            <li><a href="http://users.ece.utexas.edu/~adnan/pike.html"><b>[Blog Article]</b> - Rob Pike's 5 Rules of
                    Programming</a>
            </li>
            <li><a href="http://highscalability.com/numbers-everyone-should-know"><b>[Blog Article]</b> - Jeff Dean's
                    Numbers Everyone Should Know</a></li>
            <li><a href="https://www.usc.edu/~douglast/202/lecture23/manifesto.html"><b>[Manifesto]</b> - The Hacker's
                    Manifesto</a></li>
            <li><a href="http://ludovic.grossard.fr/feed/podcast/lecho-des-gnous"><b>[Podcast]</b> - L'écho des Gnous
                    (for
                    French guys)</a></li>
            <li><a href="https://www.youtube.com/watch?v=9vz06QO3UkQ"><b>[Youtube]</b> - The Internet's Own Boy</a>
            </li>
            <li><a href="https://www.youtube.com/watch?v=4Sso4HtvJsw"><b>[Youtube]</b> - Russ Olsen, To The Moon!</a>
            </li>
        </ul>
    </div>

</div>

{{ partial "footer.html" . }}
